{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
{% endblock %}

{% block content %}
<h1>Добавить работу</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.job.label }}<br>
        {{ form.job(class="form-control") }}<br>
        {% for error in form.job.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborators.label }}<br>
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(class="form-control") }}<br>
        {% for error in form.start_date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(class="form-control") }}<br>
        {% for error in form.end_date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{ message }}
</form>
{% endblock %}