<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {% block head %}{% endblock %}
    </head>
    <nav>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.surname }} {{ current_user.name }}</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h3>И на Марсе будут яблони цвести!</h3>
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
